.box {
  border: 4px solid pink;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}
.top {
  width: 100%;
  height: 50%;
  display: flex;
}
.bottom {
  width: 100%;
  height: 50%;
}
.card {
  height: 100%;
}
.form-search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-temperature {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-temperature > p {
  font-size: 36px;
  margin-right: 10px;
}
.current-temperature > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.current-temperature span {
  font-size: 36px;
}
